<div class="avatar-choice">
  {{radio-button id="nft-avatar" name="avatar" value="nft" selection=selected}}
  <label class="radio" for="nft-avatar">
    {{#if user.custom_avatar_template}}
      {{bound-avatar-template user.custom_avatar_template "large"}}
      {{i18n "user.change_avatar.uploaded_avatar"}}
    {{else}}
      {{i18n "user.change_avatar.nft_avatar_empty"}}
    {{/if}}
  </label>
  {{d-button label="nft_avatar.connect" click=(action "connectToWallet") icon="eye"}}
  {{!avatar-uploader user_id=user.id
                    uploadedAvatarTemplate=user.custom_avatar_template
                    uploadedAvatarId=user.custom_avatar_upload_id
                    uploading=uploading
                    class="avatar-uploader"
                    id="avatar-uploader"
                    done=(action "uploadComplete")}}
</div>
{{#if address}}
{{nft-gallery address=address}}
{{/if}}
