<label class="btn btn-default btn-icon-text" disabled={{uploading}} title={{i18n "user.change_avatar.upload_title"}}>
  {{#if connecting}}
    {{d-icon "fab-ethereum" class="fa-spin"}}
  {{else if connectError}}
    {{d-icon "fab-ethereum" class="warning"}}
  {{else if address}}
    {{d-icon "fab-ethereum" class="success"}}
  {{else}}
    {{d-icon "fab-ethereum"}}
  {{/if}}
  {{#if (and (eq uploader "nft") uploading)}}
    {{i18n "uploading"}} {{uploadProgress}}%
  {{else}}
    {{i18n "nft_avatar.connect"}}
  {{/if}}
  <input class="hidden-upload-field" disabled={{uploading}} type="button" accept="image/*">
</label>

{{#if imageIsNotASquare}}
  <div class="warning">{{i18n "user.change_avatar.image_is_not_a_square"}}</div>
{{/if}}
