<p><strong>address</strong> {{address}}</p>

<Input
  id="collection-input"
  list="collections"
  @value={{this.query}}
  {{on "change" refetchAssets}}
  placeholder="Collection"
/>
<datalist id="collections">
  {{#each collections as |collection|}}
    <option value={{collection}} />
  {{/each}}
</datalist>

<div class="nft-gallery">
  {{#if assets.length}}
    {{#each assets as |asset|}}
      <input
        type="image"
        data-token-id={{asset.identifier}}
        data-contract-address={{asset.contract}}
        class="cover nft"
        loading="lazy"
        src={{asset.display_image_url}}
        onclick={{action "selectAsset"}}
        width="90"
        height="90"
        alt={{asset.name}}
        disabled={{if (not-eq asset.token_standard "erc721") "disabled"}}
        title={{if
          (not-eq asset.token_standard "erc721")
          (i18n "nft_avatar.erc_1155")
        }}
      />
    {{/each}}
  {{else}}
    {{#unless loading}}
      {{#if error}}
        <div class="alert alert-error">{{error}}</div>
      {{else}}
        <div class="alert alert-info">{{i18n "nft_avatar.no_assets"}}
          {{replace-emoji ":frowning_face:" (hash lazy=true)}}</div>
      {{/if}}
    {{/unless}}
  {{/if}}
  {{#if loading}}
    <div class="placeholder-avatar placeholder-animation"></div>
    <div class="placeholder-avatar placeholder-animation"></div>
    <div class="placeholder-avatar placeholder-animation"></div>
  {{/if}}
</div>