<p><strong>address</strong> {{address}}</p>

<Input list="collections" @value={{this.query}} {{on "change" refetchAssets}} placeholder="Collection" />
<datalist id="collections">
  {{#each collections as |collection|}}
    <option value="{{collection.slug}}" />
  {{/each}}
</datalist>

<div class="nft-gallery">
  {{#if assets.length}}
    {{#each assets as |asset|}}
      <img data-token-id={{asset.token_id}} data-contract-address={{asset.asset_contract.address}} class="cover nft" loading="lazy" src="{{asset.image_url}}" onclick={{action "selectAsset"}} width="90" height="90" alt="#">
    {{/each}}
  {{else}}
    {{#unless loading}}
      {{#if error}}
        <div class="alert alert-error">{{error}}</div>
      {{else}}
        <div class="alert alert-info">{{i18n "nft_avatar.no_assets"}}  {{replace-emoji ":frowning_face:" (hash lazy=true)}}</div>
      {{/if}}
    {{/unless}}
  {{/if}}
  {{#if loading}}
    <div class="placeholder-avatar placeholder-animation"></div>
    <div class="placeholder-avatar placeholder-animation"></div>
    <div class="placeholder-avatar placeholder-animation"></div>
  {{/if}}
</div>
